#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="ui raised segment">
  <div class="ui two column middle aligned grid basic segment">
    <div class="column">
      <div class="ui primary raised segment form">
        <h2 class="ui centered header">About Us: Our History, and our Mission</h2>
        <div class="field">
          <h3 class="ui grey centered header"><em>"This was once the great watchtower of Amon S&ucirc;l..."</em></h3>
          <p>
            As the Third Age waned with the end of <em>The War of the Ring</em>, magic disappeared from
            Middle Earth, and with it any ability of the Free Peoples to accurately scry and predict
            the weather.
          </p>
          <p>
            With the subsequent industrialisation of the lands, beginning in the Kingdom of Gondor, hope
            returned to the peoples of Middle Earth as study and innovation gave birth to new marvels of
            ingenuity and technology.
          </p>
          <p>
            In time this led to the rebuilding of the great watchtower of Amon S&ucirc;l, and where before
            it would keep a vigilant guard against oncoming armies, in its place <strong>WeatherTop Inc.</strong>
            has built a modern and advanced weather prediction service, putting the power of the Palant&iacute;ri
            into the hands of the people.
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <img class="ui rounded image" src="/public/images/amon-sul-rebuilt.jpg">
    </div>
  </div>
  <div class="ui two column middle aligned grid basic segment">
    <div class="column">
      <img class="ui rounded image" src="/public/images/amon-sul-game.jpg">
    </div>
    <div class="column">
      <div class="ui primary raised segment form">
        <h2 class="ui centered header">About Us: The WeatherTop 1000 System</h2>
        <div class="field">
          <h4 class="ui grey centered header">
            <em>"And then her heart changed, or at least she understood it;<br>and the winter passed,
              and the sun shone upon her."</em>
          </h4>
          <p>
            Developed in partnership with the Institute of Science in <strong>Minas Tirith</strong>, and the
            Ministry of the Environment in <strong>Osgiliath</strong>, the <em>WeatherTop 1000</em> system
            is a solar-charged and battery-powered weather readings station designed for the Fourth Age.
          </p>
          <p>
            On this website you can view the readings from your <em>WeatherTop 1000</em> stations (as many as
            are linked to your account).
          </p>
          <p>
            Future updates will enable additional features, so keep checking back for more!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>